*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Nunito', sans-serif;
    background-image: url('../img/business-g64b1908d7_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
